<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867988786644-82q84krpbce8d86vtu8gi4blnm02lnaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867988786644-82q84krpbce8d86vtu8gi4blnm02lnaf</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTHp6XoD4tHooznGuyWyeJzQgTf4m4SM</string>
	<key>GCM_SENDER_ID</key>
	<string>867988786644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randomstylingstore</string>
	<key>PROJECT_ID</key>
	<string>randomstylingstore-d0bf7</string>
	<key>STORAGE_BUCKET</key>
	<string>randomstylingstore-d0bf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867988786644:ios:09ef6255f7fa51e1815a41</string>
</dict>
</plist>